* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.wrapper {
	width: 100vmin;
	margin: auto;
	position: relative;
}

.main {
	width: 100vmin;
    height: 100vmin;
	
	background-color: #80808038;
}

.question {
	height: 25vmin;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 7vmin;
}

.question > span {
	color: red;
	font-weight: bold;
} 

.main .answers {
	padding: 0 5vmin;
	display: grid;
	gap: 3vmin;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 21vmin 21vmin 21vmin;
	grid-template-areas: 
	'. . .'
	'yes . no'
	'. . .';

	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10vmin;
	font-weight: bold;
	line-height: 19vmin;
}

#yes {
	grid-area: yes;
}

#no {
	grid-area: no;
}

#yes, #no {
	border: 0.7vmin solid black;
	border-radius: 3vmin;
}

#yes:hover, #no:hover {
	background-color: #f0ffff;
	cursor: pointer;
}

.are-you-sure {
	width: 100vmin;
	height: 100vmin;
	z-index: 2;
	/* position: absolute; */
	/* top: 0; */

	background-color: aquamarine;
}

.are-you-sure > .question {
	line-height: 25vmin;
}

.are-you-sure > .angry-p {
	height: 50vmin;
	background-image: url(../img/angry-p.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.are-you-sure .answers {
	padding: 2vmin;
	display: grid;
	gap: 3vmin;
	grid-template-columns: 1fr 2fr;
	grid-template-areas: 'sure-yes sure-no';

	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 6vmin;
	font-weight: bold;
	line-height: 20vmin;
}

#sure-yes, #sure-no {
	border: 0.7vmin solid black;
	border-radius: 3vmin;
}

#sure-yes:hover, #sure-no:hover {
	background-color: #f0ffff;
	cursor: pointer;
}

.done {
	width: 100vmin;
	height: 100vmin;
	z-index: 3;

	display: grid;
	align-items: center;
	/* position: absolute; */
	/* top: 0; */

	background-color: #9e9e9e;
}

.old-p {
	height: 50vmin;
    background-image: url(../img/old-p.png);
    background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}